<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id='app'>
    {{c.d}}
    <div>{{b}}</div>
    <button v-on:click="clickMe">clickMe</button>
    <input v-model="g"></input>
    <div>{{g}}</div>
    <a v-bind:href="url">a标签{{url}}</a>
    <button v-on:click="updateUrl">点击更新标签</button>
    <div>
      <button v-on:click="push">push</button>
      <button v-on:click="pop">pop</button>
      <button v-on:click="reverse">reverse</button>
    </div>
    <ul>
      <li v-for="item in f" v-bind:key="item">
        {{ item }}
      </li>
    </ul>
  </div>
  <script src="./js/util.js"></script>
  <script src="./js/watcher.js"></script>
  <script src="./js/observer.js"></script>
  <script src="./js/compiler.js"></script>
  <script src="./js/index.js"></script>
  <script>

    const d = {
      a: 1,
      b: 2,
      c: {
        d: 3,
        e: 4,
      },
      f: [5, 6, 7],
      g: 8,
      url: 'https://minjiechang.github.io/'
    }
    new MyVue({
      data: d,
      el: '#app',
      methods: {
        clickMe(){
          this.g++
        },
        push(){
          let num = this.f[this.f.length - 1] || 0
          this.f.push(++num)
        },
        pop(){
          this.f.pop()
        },
        reverse(){
          this.f.reverse()
        },
        updateUrl(){
          this.url += '#'
        }
      }
    })
  </script>
</body>
</html>